.jumbotron {
  background-color: skyblue;
  text-align: center;
  border: 25px solid red;
}

img {
  max-width: 400px;
  height: auto;
  float: right;
  border: 15px solid red;
}

body {
  background-color: silver;
}

p {
  font-size: 30px;
  font-family: Times;
  background-color: grey;
}

h2 {
  text-align: center;
}

h3 {
  border: 5px solid black;
  text-align: center;
}

.sunshine {
  background-color: orange;
}

.blue {
  background-color: skyblue;
}

.green {
  background-color: springgreen;
}

.panel-body ul {
  background-color: black;
  font-size: larger;
  color: white;
  font-weight: bold;
}
